<include file='Common:header'/>
    <link href="__CSS__/index.css" rel="stylesheet">
    <script src="__JS__/jquery-1.8.3.min.js"></script>
    <script src="__JS__/koala.min.1.5.js"></script>
    <script src="__JS__/lrtk.js"></script>
</head>
<body>

<include file='Common:top'/>    
    
<div class="main-wrap">
    <div class="main-box">
        <!-- 代码 开始 -->
        <div id="fsD1" class="focus">
            <div id="D1pic1" class="fPic">
             
                <volist name='pic' id='data'>
                <div class="fcon" style="display: none;">
                    <a target="_blank" href="{$data.url}"><img src="./{$data['path']}"></a>
                    <!--如果不要标题可以删除下面一行代码-->
                  
                    <span class="shadow"><a href="#">{$data['title']}</a></span>
                 
                </div>
                </volist>
            </div>
            <div class="fbg">
                <div class="D1fBt" id="D1fBt">
                    <a href="javascript:void(0)" hidefocus="true"><i>1</i></a>
                    <a href="javascript:void(0)" hidefocus="true"><i>2</i></a>
                    <a href="javascript:void(0)" hidefocus="true"><i>3</i></a>
                </div>
            </div>
        </div>
        <!-- 代码 结束 -->
        <div class="clear10"></div>
        <div class="box-1">
            <div class="title-1">
                <b>新闻中心</b>
                <a href="{:U('Index/volist',array('pid' => 1))}">更多>></a>
            </div>
            
            <div class="news-img">
                <notempty name="cover.cover">
                <a title="{$cover.title}" href="{:U('Index/detail',array('id'=>$cover['id']))}"><img alt="{$cover.title}" src="./{$cover['path']}" width="490" height="295"></a>
                </notempty>
                <empty name="cover.cover">
                <a title="{$cover.title}" href="{:U('Index/detail',array('id'=>$cover['id']))}"><img src="__IMG__/moren.jpg" width="490" height="295"></a>
                </empty>
            </div>
            
            <div class="news"> 
                <div class="headline">
                    <a>{:strcut($news[0]['title'],20)}</a>
                    <p>{:strcut($news[0]['content'],75)}<a href="{:U('Index/detail',array('id'=>$news[0]['id']))}">查看更多</a></p>
                </div>
                <ul class="news-ul">
                   <volist name ='news' id ='vo' offset="1" length='6'>
                    <li>
                        <span>[{$vo['create_time']|date="Y-m-d",###}]</span>
                        <a href="{:U('Index/detail',array('id'=>$vo['id']))}">{:strcut($vo['title'],20)}</a>
                    </li>
                   </volist>
                </ul>
            </div>
            <div class="clear10"></div>
        </div>
        <div class="box-2">
            <div class="notice">
                <div class="title-1">
                    <b>通知公告</b>
                    <a href="{:U('Index/volist',array('pid' => 2))}">更多>></a>
                </div>
                <ul class="notice-ul">
                  <volist name ='notice' id ='vo1' offset="0" length='8'>    
                    <li>
                        <span>[{$vo1['create_time']|date="Y-m-d",###}]</span>
                        <a href="{:U('Index/detail',array('id'=>$vo1['id']))}">{:strcut($vo1['title'],12)}</a>
                    </li> 
                  </volist>
                </ul>
            </div>
            <div class="dang">
                <div class="title-1">
                    <b>机关党建</b>
                    <a href="{:U('Index/volist',array('pid' => 3))}">更多>></a>
                </div>
                <div class="menu1box">
                    <ul id="menu1">
                        <li class="hover" onclick="setTab(1,0)"><a>优惠政策</a></li>
                        <li onclick="setTab(1,1)"><a>园区人才</a></li>
                        <li style ='width: 111px' onclick="setTab(1,2)"><a>园区科研</a></li>
                    </ul>
                </div>
                <div class="main1box">
                    <div class="main1" id="main1">
                        <ul class="block">
                            <volist name="youhui" id="vo2" offset="0" length='8'>
                            <li>
                                <span>[{$vo2['create_time']|date="Y-m-d",###}]</span>
                                <a href="{:U('Index/detail',array('id'=>$vo2['id']))}">{:strcut($vo2['title'],12)}</a>
                            </li>
                            </volist>
                        </ul>
                        <ul>
                            <volist name='rencai' id='vo3' offset ='0' length ='8'>
                            <li>
                                <span>[{$vo3['create_time']|date="Y-m-d",###}]</span>
                                <a href="{:U('Index/detail',array('id'=>$vo3['id']))}">{:strcut($vo3['title'],12)}</a>
                            </li>
                            </volist>
                        </ul>
                        <ul>
                        <volist name='keyan' id='vo4' offset ='0' length ='8'>
                            <li>
                                <span>[{$vo4['create_time']|date="Y-m-d",###}]</span>
                                <a href="{:U('Index/detail',array('id'=>$vo4['id']))}">{:strcut($vo4['title'],12)}</a>
                            </li>  
                        </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="shang">
                <div class="title-1">
                    <b>招商引资</b>
                    <a href="{:U('Index/volist',array('pid' => 4))}">更多>></a>
                </div>
                <ul class="shang-ul">
                    <li>
                        <a href="{:U('Index/volist', array('pid' =>24 ))}">
                            <img src="__IMG__/tab-1.png" width="56" border="0">
                            <p>投资导向</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Index/volist', array('pid' =>25))}">
                            <img src="__IMG__/tab-2.png" width="56" border="0">
                            <p>入园条件</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Index/volist', array('pid' =>26 ))}">
                            <img src="__IMG__/tab-3.png" width="56" border="0">
                            <p>建设流程</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Index/volist', array('pid' =>27))}">
                            <img src="__IMG__/tab-4.png" width="56" border="0">
                            <p>优惠政策</p>
                        </a>
                    </li>
                </ul>
                <div class="title-2">
                    <b>入驻企业</b>
                </div>
                <div class="shang-qy">
                    <volist name='ruzhu' id='vo5' offset='0' length='5'>
                        <a href="{:U('Index/detail',array('id'=>$vo5['id']))}">{:strcut($vo5['title'],15)}</a>
                    </volist>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="box-3">
            <div class="title-1">
                <b>园区概览</b>
                <a href="{:U('Index/volist',array('pid' => 5))}">更多>></a>
            </div>
            <!-- 代码开始 -->
            <div class="box-img">
                <div class="picbox">
                    <ul class="piclist mainlist">
                        <volist name='park' id='park'>
                            <notempty name="park.cover">
                        <li><a href="{:U('Index/detail',array('id'=>$park['id']))}"><img src="./{$park['path']}" /></a></li>
                            </notempty>
                            <empty name="park.cover">
                                <li><a href="{:U('Index/detail',array('id'=>$park['id']))}"><img src="__IMG__/moren.jpg" /></a></li>
                            </empty>
                        </volist>
                    </ul>
                    <ul class="piclist swaplist"></ul>
                </div>
                <div class="og_prev"></div>
                <div class="og_next"></div>
            </div>
            <!-- 代码结束 -->
            <div class="brief-text">
                <div class="brief-t">
                    <a href="{:U('Index/volist', array('pid' =>15 ))}">园区简介</a>
                    <a href="{:U('Index/volist', array('pid' =>16 ))}">产业规划</a>
                    <a href="{:U('Index/volist', array('pid' =>17 ))}">交通物流</a>
                    <a href="{:U('Index/volist', array('pid' =>18 ))}">配套设施</a>
                    <a href="{:U('Index/volist', array('pid' =>19 ))}">园区发展公司</a>
                </div>
                <p>{:strcut($article_detail['content'],112)}<a style ="color: #c50a14" href="{:U('Index/volist',array('pid'=>15))}">查看更多</a></p>
            </div>
            <div class="clear10"></div>
        </div>
        <div class="box-4">
            <div class="serv">
                <div class="title-1">
                    <b>园区服务</b>
                    <a href="{:U('Index/volist',array('pid' => 6))}">更多>></a>
                </div>
                <div class="serv-box">
                    <div class="serv-item">
                        <a class="serv-1" href="{:U('Index/volist',array('pid'=>11))}">园区机构</a>
                        <a class="serv-2" href="{:U('Index/volist',array('pid'=>12))}">政策法规</a>
                        <a class="serv-3" href="{:U('Index/volist',array('pid'=>14))}">服务理念</a>
                        <a class="serv-4" href="{:U('Index/volist',array('pid'=>29))}">联系我们</a>
                    </div>
                    <p class="ser-text">
                        单位名称: 潍坊高新技术产业开发区滨海产业园<br>
                        座&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: 0536-2097170<br>
                        邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱: wfgxbhcyy@126.com<br>
                        邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编: 261205<br>
                        通讯地址: 潍坊高新区健康东街6699号创新大厦
                    </p>
                </div>
            </div>
            <div class="video">
                <div class="title-3">
                    宣传视频 <span>Video</span>
                </div>
                <div class="video-box">
                <!--<embed src="__IMG__/shipin.f4v" widht=273 height=200 autostart=true loop=true/false></embed>-->
         <video src="__IMG__/shipin.f4v" width="273" height="200" autoplay="autoplay" controls="controls"></video>
                </div>
            </div>
            <div class="clear10"></div>
        </div>
        <div class="box-5">
            <div class="title-5">
                友情链接
            </div>
            <div class="link">
                <volist name='link_list' id='link'>
                    <a target="_blank" href="{$link['url']}"><img src="./{$link['path']}"></a>
                </volist>
                
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    版权所有：{$copyright}
</div>

<script type="text/javascript">
    Qfast.add('widgets', { path: "__JS__/terminator2.2.min.js", type: "js", requires: ['fx'] });
    Qfast(false, 'widgets', function () {
        K.tabs({
            id: 'fsD1',   //焦点图包裹id
            conId: "D1pic1",  //** 大图域包裹id
            tabId:"D1fBt",
            tabTn:"a",
            conCn: '.fcon', //** 大图域配置class
            auto: 1,   //自动播放 1或0
            effect: 'fade',   //效果配置
            eType: 'click', //** 鼠标事件
            pageBt:true,//是否有按钮切换页码
            bns: ['.prev', '.next'],//** 前后按钮配置class
            interval: 3000  //** 停顿时间
        })
    })
</script>
<script>
    function setTab(m,n){
        var tli=document.getElementById("menu"+m).getElementsByTagName("li");
        var mli=document.getElementById("main"+m).getElementsByTagName("ul");
        for(i=0;i<tli.length;i++){
            tli[i].className=i==n?"hover":"";
            mli[i].style.display=i==n?"block":"none";
        }
    }
</script>
</body>
</html>