<include file="Application/Home/View/Public/head.html"/>
<!--<link rel="shortcut icon" type="image/x-icon" href="__ROOT__/favicon.ico">-->
<!--    <link rel="apple-touch-icon" type="image/x-icon" href="__ROOT__/favicon.ico">-->
<!--    <link rel="stylesheet" type="text/css" href="__CUI__/css/cui.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/home.css?v={:C('STATIC_VERSION')}">-->
<!--    <block name="style"></block>-->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- 如果配置里CDN静态资源列表则使用CDN否则使用静态资源 -->
    <?php if(C('CDN_RESOURCE_LIST')): ?>
        {:C('CDN_RESOURCE_LIST')}
    <?php else: ?>
        <script type="text/javascript" src="__PUBLIC__/libs/jquery/1.x/jquery.min.js"></script>
    <?php endif; ?>
<block name="style">
    <style type="text/css">
        /* 文章列表样式 */
        .article-list .media {
            padding-top: 10px;
            border-bottom: 1px solid #eee;
        }
        .article-list .list-cover{
            width: 180px;
            height: 100px;
        }
        .article-list .list-title{
        	font-size:14px;
            margin-top: 6px;
        }
        .article-list .list-abstract{
            height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media (max-width: 768px) {
            .article-list .list-title{
                font-size: 14px;
                margin: 0px;
            }
            .article-list .list-cover{
                width: 90px;
                height: 66px;
            }
            .article-list .list-info {
                font-size: 10px;
                margin-top: 3px !important;
                margin-bottom: 2px !important;
            }
            .article-list .list-abstract{
                height: 36px;
                font-size: 12px;
            }
        }
    </style>
</block>



<block name="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <!-- 文档列表 -->
                <div class="panel">
                    <div class="article-list panel-body">
                        <volist name="volist" id="vo">
                            <div class="media">
                                
                                <div class="media-body">
                                    <h4 class="list-title text-overflow margin-top-none">
                                        <a target="_blank"  href="{:U('detail', array('id' => $vo['id']))}">
                                            {$vo.main_field}
                                        </a>
                                    </h4>
                                    <ul class="list-info list-unstyled list-inline text-muted small">
                                        <li><i class="fa fa-calendar"></i> {$vo.create_time|time_format='Y-m-d'}</li>
                                        <li><i class="fa fa-eye"></i> {$vo.view}</li>
<!--                     评论数，取消显示                   <li><i class="fa fa-comments"></i> {$vo.comment}</li>-->
<!--                     点赞数，取消显示                   <li><i class="fa fa-thumbs-o-up"></i> {$vo.good}</li>-->
                                    </ul>
<!--            文章简介，取消显示                        <div class="list-abstract text-muted">{$vo.abstract}</div>-->
                                </div>
                            </div>
                        </volist>
                        <ul class="pagination">{$page}</ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 hidden-xs">
                <!-- 侧边导航 -->
                <div class="panel">
                    <div class="panel-body">
                        <!-- 搜索 -->
                        <form role="search" action="{$_search_url}" method="post" id="article_form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="keywords" class="form-control" type="text" value="<neq name='sel_title' value='请输入文章标题'>{$sel_title}</neq>" placeholder="<empty name='sel_title'>请输入文章标题<else />{$sel_title}</empty>">
                                    <a onclick="$('#article_form').submit();" type="submit" value="" class="input-group-addon"><i class='fa fa-search'></i></a>
                                </div>
                            </div>
                        </form>

                        <!-- 分类列表 -->
                        <div class="list-group">
                            <article:category_list name="vo" pid="$_current_category['id']">
                                <a class="list-group-item <if condition="$_REQUEST['cid'] eq $vo['id']">active</if>" href="{:U('index', array('cid' => $vo['id']))}">
                                    {$vo.title}
                                </a>
                            </article:category_list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<include file="Application/Home/View/Public/foot.html"/>